In [1]:
s = "Hi there SasiPriya!"

In [2]:
s.split()

['Hi', 'there', 'SasiPriya!']

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
print("The diameter of ", planet, " is ", diameter, " kilometers.")

The diameter of  Earth  is  12742  kilometers.

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [7]:
import numpy as np

In [8]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [9]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [10]:
np.arange(20,35,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

In [11]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [12]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

np.concatenate((a,b))

array([1, 2, 3, 4, 5, 6])

In [13]:
import pandas as pd

In [14]:
data = {'Name':['Padmavathy', 'Shivani', 'Pavunkavitha'], 'Occupation': ['Machine Learning Engineer', 'Business Analyst', 'Technology Consultant']}
df = pd.DataFrame(data)
df

           Name                 Occupation
0    Padmavathy  Machine Learning Engineer
1       Shivani           Business Analyst
2  Pavunkavitha      Technology Consultant

In [15]:
ts = pd.date_range('1/1/2023', '2/10/2023')
ts

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [17]:
dfs = pd.DataFrame(lists)
dfs

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24